<section class="dashboard" name=residents" style="padding:40px 20px; text-align:center;">
<h2>Barangay Statistics</h2>

<div class="dashboard-grid" style="display:grid;grid-template-columns:repeat(auto-fit,minmax(180px,1fr));gap:20px;margin-top:20px;">
  <div class="card" style="background:white;padding:25px;border-radius:10px;box-shadow:0 5px 15px rgba(0,0,0,0.1);">
     <h3>Total Residents</h3>
     <p>999</p>
   </div>

   <div class="card" style="background:white;padding:25px;border-radius:10px;box-shadow:0 5px 15px rgba(0,0,0,0.1);">
     <h3>Tanigue</h3>
     <p>999</p>
   </div>

   <div class="card" style="background:white;padding:25px;border-radius:10px;box-shadow:0 5px 15px rgba(0,0,0,0.1);">
     <h3>Lapu-lapu</h3>
     <p>999</p>
   </div>

   <div class="card" style="background:white;padding:25px;border-radius:10px;box-shadow:0 5px 15px rgba(0,0,0,0.1);">
     <h3>Maya-maya</h3>
     <p>999</p>
   </div>

   <div class="card" style="background:white;padding:25px;border-radius:10px;box-shadow:0 5px 15px rgba(0,0,0,0.1);">
     <h3 style="color:#004aad; margin-bottom:10px;">Senior Citizens</h3>
     <p>999</p>
   </div>

</div>
</section>
